html, body {
    margin: 0;
    border: 0;
    font-size: 100%;
    background-color: #222e33;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

a {
    color: #88a7fc
}

a:hover {
    color: #88d7fc

}
